{% extends 'base.html' %}

{% block app_content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/calibration.css') }}">

<div class="text">
    <h1>Calibration of latencies</h1>
    <p>
        Your input/output devices may have unpredictable latencies.<br>
        Please, move the slider until you hear no latency
        between acapella and instrumental.
    </p>
</div>

<div class="value">0 ms</div>
<input type="range" min="0" max="1000" step="1" value="0">

<audio id="instrumental" src="{{ instrumental_path }}"></audio>
<audio id="acapella" src="{{ acapella_path }}"></audio>

<div class="ready-block">
    <p><button id="ready" class="ready" onclick="$('#loading').show();">Ready!</button></p>
</div>

<div id="loading" class="loading" style="display:none; color:white;">
    <img src="../static/icons/loading.gif" alt="" />
    Saving. Please, wait...
</div>

<script src=' {{ url_for("static", filename="scripts/calibration.js") }} '
        name="{{ name }}">
</script>

{% endblock %}