{% extends 'base.html' %}

{% block app_content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mastering.css') }}">

<div class="text">
    <h1>Mastering acapella</h1><br>
</div>

<div class="loadings">
    <div id="rev-check">
        <p>
            <img src="../../static/icons/loading.gif"/>
            Acoustic environment modeling...
        </p>
    </div>

    <div id="spec-check">
        <p>
            <img src="../../static/icons/loading.gif"/>
            Spectrum correction...
        </p>
    </div>

    <div id="effects-check">
        <p>
            <img src="../../static/icons/loading.gif"/>
            Applying effects...
        </p>
    </div>
</div>

<div class="result-audio" style="display:none;" id="mix">
    <p>
        Your cover is ready! Now you can listen to the result and download it.
    </p>
    <br>
    <audio id="result"></audio>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script
        src=' {{ url_for("static", filename="scripts/mastering.js") }} '
        result_path="{{ result_path }}" name="{{ name }}">
</script>

{% endblock %}