{% extends 'base.html' %}

{% block app_content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/recording.css') }}">

<h1>Record your acapella</h1>

<div class="content-recording">
    <div class="text">
        <p>
            For correct recording both headphones and microphone needed.<br>
            Pressing the button will start recording.
        </p>
    </div>

    <div class="audio-content">
        <button id="start-record" class="start-record">Start recording!</button>
        <br><br></p>
        <audio id="instrumental" src="{{ instrumental_path }}"></audio>
        <span id="recording-label" class="recording-label"
              style="display:none; color:white;">Recording</span>
        <br>
        <audio id="play-record" controlsList="nodownload noremoteplayback"></audio>
        <br><br>
        <button id="ready" class="ready-button" style="visibility: hidden;">Ready!</button>
    </div>
</div>

<script src=' {{ url_for("static", filename="scripts/recording.js") }} '
        acapella_path="{{ acapella_path }}"
        name="{{ name }}"
        >
</script>

{% endblock %}