{% extends 'base.html' %}
{% block app_content %}
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/upload.css') }}">

<h1 class="header" style="color: white;">COVER TOOL</h1>
<div class="description">
    <p>
        Here you can create a simple cover on any song. Upload one and try it now!
    </p>
    <p>
        Valid formats are mp3 and wav. Separating vocals from instrumental is <br>
        computationally heavy and may be not ideal, the server may be busy, be patient :)
    </p>
</div>
<div class="file-upload">

    <form class="form" method="POST" action="" enctype="multipart/form-data" style="width: 400px">

        <div class="file-select">
            <div class="file-select-button" id="fileName">Choose File</div>
            <div class="file-select-name" id="noFile">No file chosen...</div>
            <input type="file" name="chooseFile" id="chooseFile">
        </div>

        <p>
            <input class="submit-button" type="submit" value="Submit"
                   onclick="$('#loading').show();" style="width: 120px">
        </p>

    </form>

</div>

<div class="load-text" id="loading" style="display:none; color:white;"><img src="static/icons/loading.gif" alt="" />
    Your audio will be loaded and stemmed. Please, wait, it can take several minutes.
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src=' {{ url_for("static", filename="scripts/upload.js") }} '></script>

{% endblock %}