@import url(https://fonts.googleapis.com/css?family=Dosis:700);
.text {
  text-align: center;
  color: white;
  font-family: "Dosis", Helvetica, Arial, sans-serif;
}

.text h1 {
  font-size: 40px;
}

.text p {
  font-size: 25px;
}

.value {
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  border-bottom: 4px dashed #bdc3c7;
  text-align: center;
  font-weight: bold;
  font-size: 10em;
  color: #34495e;
  width: 600px;
  height: 100px;
  line-height: 60px;
  margin: 40px auto;
  text-shadow: white 2px 2px 2px;
}
input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 600px;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}•
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
  }


.loading {
  font-family: Helvetica, Arial, sans-serif;
  font-color: white;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ready-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ready {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: none;
  border: 2px solid;
  padding: 1em 2em;
  color: white;
  transition: 0.25s;
  cursor: pointer;
}

.ready:hover {
  box-shadow: inset 0 0 0 2em #666666;
}

ready:focus {
  box-shadow: inset 0 0 0 2em #666666;
}