h1 {
  display: flex;
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  font-size: 40px;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loadings {
  font-family: Helvetica, Arial, sans-serif;
  font-color: white;
  font-size: 14px;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.result-audio {
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}