@import url(https://fonts.googleapis.com/css?family=Dosis:700);

h1 {
  display: flex;
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  font-size: 40px;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-recording {
  display:block;
  justify-content: center;
  align-items: center;
}

.text {
  display: block;
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.audio-content {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.audio-content .start-record {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: none;
  border: 2px solid;
  padding: 1em 2em;
  color: white;
  transition: 0.25s;
  cursor: pointer;
}

.audio-content .start-record:hover {
  box-shadow: inset 0 0 0 2em #666666;
}

.audio-content .start-record:focus {
  box-shadow: inset 0 0 0 2em #666666;
}

.audio-content .start-record:disabled {
  color: #cccccc;
  background: #666666;
}

.recording-label {
  font-family: verdana,sans-serif;
  color: black;
  display: flex;
  line-height: 1.5em;
}
.recording-label::before {
  content: '🔴';
  color: white;
  position: relative;
  animation: recording 600ms alternate infinite;
}
@keyframes recording {
  from { opacity: 1; }
  to { opacity: 0.2; }
}

.audio-content .ready-button {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: none;
  border: 2px solid;
  padding: 1em 2em;
  color: white;
  transition: 0.25s;
  cursor: pointer;
}

.audio-content .ready-button:hover {
  box-shadow: inset 0 0 0 2em #666666;
}

.audio-content .ready-button:focus {
  box-shadow: inset 0 0 0 2em #666666;
}

.audio-content .ready-button:disabled {
  color: #cccccc;
  background: #666666;
}