.header {
  display: block;
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  font-size: 10em;
  text-align: center;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  display: block;
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.file-upload {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.form {
  display:block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form .file-select {
  display:block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor:pointer;
  height:40px;
  line-height:40px;
  text-align:left;
  background:#FFFFFF;
  overflow:hidden;
  position:relative;
}

.form .file-select .file-select-button {
  background:#dce4ec;
  padding:0 10px;
  display:inline-block;
  height:40px;
  line-height:40px;
}

.form .file-select .file-select-name {
  line-height:40px;
  display:inline-block;
  padding:0 10px;
}

.form .file-select:hover {
  border-color:#34495e;
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}

.form .file-select:hover .file-select-button {
  background:#34495e;
  color:#FFFFFF;
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}

.file-upload.active .form .file-select {
  border-color:#3fa46a;
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}

.file-upload.active .form .file-select .file-select-button {
  background:#3fa46a;
  color:#FFFFFF;
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}

.form .file-select input[type=file] {
  z-index:100;
  cursor:pointer;
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  opacity:0;
  filter:alpha(opacity=0);
}

.form .file-select.file-select-disabled {
  opacity:0.65;
}

.form .file-select.file-select-disabled:hover {
  cursor:default;
  display:block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor:pointer;
  height:40px;
  line-height:40px;
  margin-top:5px;
  text-align:left;
  background:#FFFFFF;
  overflow:hidden;
  position:relative;
}

.form .file-select.file-select-disabled:hover .file-select-button {
  background:#dce4ec;
  color:#666666;
  padding:0 10px;
  display:inline-block;
  height:40px;
  line-height:40px;
 }

.form .file-select.file-select-disabled:hover .file-select-name {
  line-height:40px;
  display:inline-block;
  padding:0 10px;
}

.form .submit-button {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: none;
  border: 2px solid;
  padding: 1em 2em;
  color: white;
  transition: 0.25s;
  cursor: pointer;
}

.form .submit-button:hover {
  box-shadow: inset 0 0 0 2em #666666;
}

.form .submit-button:focus {
  box-shadow: inset 0 0 0 2em #666666;
}


.load-text {
  font-family: Helvetica, Arial, sans-serif;
  font-color: white;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
}