<!DOCTYPE html>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
<link rel="shortcut icon" href="static/icons//favicon.ico" type="image/x-icon">
<link rel="icon" href="static/icons/favicon.ico" type="image/x-icon">

<head>
    <title>Cover Tool</title>
</head>

{% block content %}

    <body>
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>

        <div class="container">
            <div class="flash">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            {% block app_content %}{% endblock %}
        </div>
    </body>

{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>